<!doctype html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lucky Dog</title>
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="layout-container">
      <div class="image-area">
        <canvas id="main-canvas"></canvas>
        <canvas id="sub-canvas"></canvas>
      </div>
      <div class="table-area">
        <button type="button" style="float:right" class="btn btn-primary" data-toggle="modal" data-target="#user-list-config">配置参与者</button>
        <h1>Lucky Dog</h1>
        <br>
        <table class="table">
          <tr>
            <th>时间</th>
            <th>中奖者</th>
            <th>概率</th>
            <th>备注</th>
            <th></th>
          </tr>
          <tr v-for="(item, index) in resultList" :key="item.id">
            <td>{{item.time}}</td>
            <td>{{item.name}}</td>
            <td>{{item.probability}}</td>
            <td>
              <input type="text" class="form-control" v-model="item.note" @blur="saveResultList">
            </td>
            <td>
              <button class="btn btn-sm btn-danger" @click="removeResult(index)">移除</button>
            </td>
          </tr>
        </table>

      </div>
    </div>
    <transition name="slide-fade">
      <div class="toast" v-show="showToast">{{toastText}}</div>
    </transition>
    <div class="modal" tabindex="-1" role="dialog" id="user-list-config">
      <div class="modal-dialog modal-lg" role="document">
        <form @submit.prevent="userListSubmit">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">配置参与者</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table">
                <tr>
                  <th>
                    姓名
                  </th>
                  <th style="width: 50%">
                    权重
                  </th>
                  <th>
                    <button class="btn btn-sm btn-success" type="button" @click="addUser">添加</button>
                  </th>
                </tr>
                <tr v-for="(item, index) in userList" :key="item.id">
                  <td>
                    <input type="text" class="form-control" v-model="item.label" required>
                  </td>
                  <td>
                    <input type="number" class="form-control" v-model="item.weight" required>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger" type="button" @click="userList.splice(index, 1)">移除</button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">应用</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="./turntable.js?v=1"></script>
  <script src="./app.js?v=1"></script>
</body>

</html>