<!doctype html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lucky Dog</title>
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet">
</head>

<body>
  <div id="app" class="not-ready">
    <div class="layout-container">
      <div class="image-area">
        <canvas id="main-canvas"></canvas>
        <canvas id="sub-canvas"></canvas>
      </div>
      <div class="table-area">
        <div class="table-wrapper">
          <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#user-list-config" @focus="clearFocus" tabindex="-1">
            <i class="fa fa-cog"></i>
          </button>
          <h1>LUCKY DOG</h1>
        </div>
        <div class="table-wrapper">
          <table class="table table-hover">
            <tr class="thead-light">
              <th>#</th>
              <th>结果</th>
              <th>概率</th>
              <th>备注</th>
              <th></th>
            </tr>
            <tr v-if="resultList.length === 0">
              <td colspan="5" class="font-italic text-center" style="font-size:13px;color:#666">
                {{isMobile ? '按住转盘' : '按住空格键'}}抽奖
              </td>
            </tr>
            <tr v-for="(item, index) in resultList" :key="item.id" :title="item.time">
              <td>{{index + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.probability}}</td>
              <td style="max-width:8em">
                <input type="text" class="form-control form-control-sm" v-model="item.note" @blur="saveResultList">
              </td>
              <td>
                <button class="btn btn-sm btn-outline-danger" @click="removeResult(index)" @focus="clearFocus" tabindex="-1">
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
          </table>
          <div id="scroll-anchor"></div>
        </div>

      </div>
    </div>
    <transition name="slide-fade">
      <div class="toast" v-show="showToast">
        <i class="fa fa-trophy"></i> {{toastText}}</div>
    </transition>
    <div class="modal" tabindex="-1" role="dialog" id="user-list-config">
      <div class="modal-dialog modal-lg" role="document">
        <form @submit.prevent="userListSubmit">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">配置</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table">
                <tr class="thead-light">
                  <th>
                    #
                  </th>
                  <th>
                    标签
                  </th>
                  <th style="width: 50%">
                    权重
                  </th>
                  <th>
                    <button class="btn btn-sm btn-outline-success" type="button" @click="addUser">
                      <i class="fa fa-plus"></i>
                    </button>
                  </th>
                </tr>
                <tr v-for="(item, index) in userList" :key="item.id">
                  <td>
                    {{index+1}}
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm" v-model="item.label" required>
                  </td>
                  <td>
                    <input type="number" class="form-control form-control-sm" v-model="item.weight" required>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-outline-danger" type="button" @click="userList.splice(index, 1)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-primary">OK</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
  <script src="./turntable.js"></script>
  <script src="./app.js"></script>
</body>

</html>