html,
body {
  margin: 0;
  padding: 0;
}

.layout-container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}


.image-area {
  margin: auto;
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

.image-area canvas {
  position: absolute;
}

.table-area {
  padding: 30px 10px;
  min-height: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}
.table-wrapper {
  border-radius: 3px;
  padding: 10px;
  max-height: 75vh;
  overflow: auto;
}
.toast {
  position: fixed;
  background: #e74c3c;
  text-align: center;
  font-size: 52px;
  color: #f1c40f;
  width: 600px;
  left: 30px;
  line-height: 140px;
  height: 140px;
  top: 30px;
}

.slide-fade-enter-active {
  transition: all .8s ease;
}

.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX( -600px);
  opacity: 0;
}